/* css classes */
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}
.h-vh-30 {
  height: 30vh;
}
.h-vh-70 {
  height: 70vh;
}
/* header */
.header .container-fluit {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/img/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.border-bottom {
  border-width: 4px !important;
}

/* create */
#create {
  height: 30vh;
}

/* media queries */
@media (min-width: 768px) {
  /* explore */
  .explore-image {
    height: fit-content;
  }
}
